name: main

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * 5"

jobs:

  plugin_test:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
        popeye: [v0.8.6]

    runs-on: ${{ matrix.os }}

    steps:
      - name: asdf_install
        uses: asdf-vm/actions/install@v1.0.0
        with:
          tool_versions: "popeye v0.8.6"
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v1.0.0
        with:
          version: ${{ matrix.popeye }}
          command: popeye version
        env:
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Run ShellCheck
        run: shellcheck bin/*
